/* Strat Variables */
:root {
    --main-section-background: #222831;
    --main-section-background-alt: #393e46;
    --main-color: #00adb5;
    --secondary-color: #eeeeee;
    --main-transition: 0.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth !important;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
span {
    color: #2196f3;
}
  /* small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
    color: var(--main-color);
}
.main-heading h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 120px;
    background-color: var(--secondary-color);
    left: 50%;
    transform: translatex(-50%);
    bottom: -30px;
}
.main-heading h2::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    background-color: var(--main-section-background-alt);
}
.main-heading p {
    width: 550px;
    max-width: 100%;
    margin: 0 auto 100px;
    line-height: 2;
    color: var(--secondary-color);
}
/* End Components */
/* Start Products */
.products {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--main-section-background-alt);
}
.products .container .main-heading p {
    font-size: 20px;
    width: 600px;
}
@media (max-width: 767px) {
    .products .container .main-heading p {
        font-size: 17px;
    }
}
.products .shuffle {
    display: flex;
    justify-content: center;
}
.products .shuffle li {
    padding: 15px 20px;
    font-size: 18px;
    color: var(--secondary-color);
}
.products .shuffle li.active {
    background-color: var(--main-color);
    color: black;
}
.products .container .boxs {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    color: var(--secondary-color);
}
.products .container .boxs .box {
    background-color: var(--main-section-background);
    padding: 25px 15px;
    text-align: center;
    border-radius: 3%;
    transition: var(--main-transition);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}
.products .container .boxs .box:hover {
    transform: translate(0px, -8px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}
.products .container .boxs .box h3{
    text-transform: uppercase;
}
.products .container .box .image {
    padding: 10px;
}
.products .container .box .image img {
    width: 200px;
    border-radius: 4px;
    text-align: center;
}
.products .container .boxs .box .text p {
    line-height: 1.8;
    font-size: 15px;
}
.products .container .boxs .box .text .price{
    font-size: 22px;
    font-weight: bold;
}
.products .container .boxs .box button {
    width: 100%;
    background: none;
    border: 1px solid var(--main-color);
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}
.products .container .boxs .box button:hover {
    color: white;
    outline: none;
}
.products .container .boxs .box button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background: var(--main-color);
    left: 0;
    transition: 0.5s;
    z-index: -1;
}
.products .container .boxs .box button::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.products .container .boxs .box button:hover::before {
    height: 180%;
}
/* End Products */
/* Start footer */
.footer {
    padding-top: calc(var(--padding-top) / 4);
    padding-bottom: calc(var(--padding-bottom) / 4);
    background-color: var(--main-section-background);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before {
    content: "";
    position: absolute;
    background-color: rgba(0 0 0/70%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.footer .container {
    position: relative;
}
.footer img {
    width: 240px;
    /* margin-bottom: 10px; */
}
.footer p:not(.copyright) {
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: fit-content;
    margin: 20px auto 0;
    border-bottom: 1px solid;
    letter-spacing: 2px
}
.footer .copyright {
    margin-top: 60px;
}
.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}

/* End Footer */

